/*<<<<<<< HEAD
=======*/
.fondo1{
	background-image: url('../img/background/hero.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	background-size: 100%;
	height: 600px;
}
.boton{
	background-color: white;
	opacity: 0.6;
	width: 140px;
	height: 50px;
	margin: 2%;
	border-radius: 10%;
}
/*>>>>>>>*/
/*SECCIONES DE OPCIONES*/
/*ICONOS*/
i {
	color: #0dc0c0;
}
.blue {
	color: #00dfb6;
}
/*TEXTO*/
.mgn {
	margin-top: 3%;
}
.mgn1 {
	margin-top: 5%;
}
.mgn2 {
	margin-top: 7%;
}
.pd1 {
	padding: 0 8%; 
}

